## Exercices : Aggregation and grouping

### Aggregation

In [2]:
#  Aggregation Functions in Pandas with Realistic Product Data

# Import necessary libraries
import pandas as pd
import numpy as np

# Consider Weekly sales of different products
data = {
    'Earphones': [150, 200, 190, 250, 300],
    'Laptop': [50, 60, 55, 65, 80],
    'Cell Phone': [300, 320, 310, 305, 315],
    'Power Bank': [400, 420, 410, 430, 450]
}

# Index represents the week numbers (Week 1 to Week 5)
index = ['Week 1', 'Week 2', 'Week 3', 'Week 4', 'Week 5']

# Create DataFrame
df = pd.DataFrame(data, index=index)
df

        Earphones  Laptop  Cell Phone  Power Bank
Week 1        150      50         300         400
Week 2        200      60         320         420
Week 3        190      55         310         410
Week 4        250      65         305         430
Week 5        300      80         315         450

For the following problems it is possible to answer the questions without writing code, but we want to see the correct code!
3) a) Get the total amount of products sold for each week
   b) Get the total amount of products sold for each category
   c) Get the total amount of sold products

In [15]:
# Hint: Use df.sum() with axis=0 and axis=1.

# Solution:
# Count along the columns (axis=0)
df_count_axis0 = df.sum(axis=0)
print("Count of sales data along products:")
print(df_count_axis0)

# Count along the rows (axis=1)
df_count_axis1 = df.sum(axis=1)
print("\nCount of sales data along weeks:")
print(df_count_axis1)

df_total = df.sum(axis=1).sum()
print("\nTotal number of products sold:",df_total)

Count of sales data along products:
Earphones     1090
Laptop         310
Cell Phone    1550
Power Bank    2110
dtype: int64

Count of sales data along weeks:
Week 1     900
Week 2    1000
Week 3     965
Week 4    1050
Week 5    1145
dtype: int64

Total number of products sold: 5060

2) a) Calculate the mean of sold products across weeks
   b) Calculate the median for each week
   c) Calculate the overall mean of products sold per week

In [17]:
# Exercise: Use mean() and median() to compute the mean and median of sales
# Hint: Use df.mean() and df.median() with axis=0 and axis=1

# Solution:
# Mean sales for each product across weeks
mean_sales = df.mean(axis=0)
print("Mean sales for each product across weeks:")
print(mean_sales)


# Median sales for each week across products
median_weekly_sales = df.median(axis=1)
print("\nMedian sales for each week across products:")
print(median_weekly_sales)

#Overall median
total_mean_sales = df.mean(axis=0).mean()
print("Mean sales overall:",total_mean_sales )

Mean sales for each product across weeks:
Earphones     218.0
Laptop         62.0
Cell Phone    310.0
Power Bank    422.0
dtype: float64

Median sales for each week across products:
Week 1    225.0
Week 2    260.0
Week 3    250.0
Week 4    277.5
Week 5    307.5
dtype: float64
Mean sales overall: 253.0

3) a) What was the maximum number of items sold in one week for Cell Phone's
   b) What is the minimum number of items sold in week 3?
   c) What are the minimum sales for each week across products
   3) What are the maximum sales for each product across weeks

In [27]:
# Exercise: Use min() and max() to find the minimum and maximum sales
# Hint: Use df.min() and df.max() with axis=0 and axis=1

# Solution:
# Max sales for each product across weeks
max_sales = df['Cell Phone'].max()
print("Maximum sales for cell phones across weeks:")
print(max_sales)

# Min sales for week 3
min_sales = df.loc["Week 3"].min()
print("\nMin sales for week 3:")
print(min_sales)

# Minimum sales for each week across products
min_weekly_sales = df.min(axis=1)
print("\nMinimum sales for each week across products:")
print(min_weekly_sales)

# maximum sales for each product across weeks
max_product_sales = df.max(axis=0)
print("\nMaximum sales for each week across products:")
print(max_product_sales)

Maximum sales for cell phones across weeks:
320

Min sales for week 3:
55

Minimum sales for each week across products:
Week 1    50
Week 2    60
Week 3    55
Week 4    65
Week 5    80
dtype: int64

Maximum sales for each week across products:
Earphones     300
Laptop         80
Cell Phone    320
Power Bank    450
dtype: int64

4) Provide an overview of all the statistics, mean, median, standard deviation, min, max with one command

In [28]:
df.describe()

        Earphones     Laptop  Cell Phone  Power Bank
count    5.000000   5.000000    5.000000    5.000000
mean   218.000000  62.000000  310.000000  422.000000
std     58.051701  11.510864    7.905694   19.235384
min    150.000000  50.000000  300.000000  400.000000
25%    190.000000  55.000000  305.000000  410.000000
50%    200.000000  60.000000  310.000000  420.000000
75%    250.000000  65.000000  315.000000  430.000000
max    300.000000  80.000000  320.000000  450.000000

5) a) Count the number of items in a row
   b) Count the number of itams in a column

In [32]:
# Count along the columns (axis=0)
df_count_axis0 = df.count(axis=0)
print("Count of sales data along products (axis=0):")
print(df_count_axis0)

# Count along the rows (axis=1)
df_count_axis1 = df.count(axis=1)
print("\nCount of sales data along weeks (axis=1):")
print(df_count_axis1)

Count of sales data along products (axis=0):
Earphones     5
Laptop        5
Cell Phone    5
Power Bank    5
dtype: int64

Count of sales data along weeks (axis=1):
Week 1    4
Week 2    4
Week 3    4
Week 4    4
Week 5    4
dtype: int64

### Grouping

First consider the dataframe df

In [2]:
import pandas as pd
import numpy as np

# Original data with computer-related products
data = {
    'productName': ['Laptop', 'Monitor', 'Mouse', 'Keyboard', 'External Hard Drive'] * 4,
    'week': [1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4],
    'amount_sold': [120, 80, 50, 40, 90, 130, 85, 60, 55, 95, 125, 90, 70, 45, 100, 140, 100, 65, 50, 110],
    'price': [999.99, 199.99, 25.99, 49.99, 79.99, 999.99, 199.99, 25.99, 49.99, 79.99, 999.99, 199.99, 25.99, 49.99, 79.99, 999.99, 199.99, 25.99, 49.99, 79.99]
}

# Additional data
additional_data = {
    'productName': ['Graphics Card', 'Gaming Chair', 'Headset', 'Webcam', 'Router'] * 4,
    'week': [1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4],
    'amount_sold': [30, 15, 60, 25, 45, 50, 20, 75, 35, 40, 60, 25, 80, 30, 50, 65, 35, 85, 40, 55],
    'price': [599.99, 150.99, 49.99, 89.99, 129.99, 599.99, 150.99, 49.99, 89.99, 129.99, 599.99, 150.99, 49.99, 89.99, 129.99, 599.99, 150.99, 49.99, 89.99, 129.99]
}

# Creating DataFrames
df_computer = pd.DataFrame(data)
df_additional = pd.DataFrame(additional_data)

# Concatenating the new data with the existing DataFrame
df_combined = pd.concat([df_computer, df_additional], ignore_index=True)

# Shuffling the rows of the combined DataFrame
df = df_combined.sample(frac=1).reset_index(drop=True)

# Displaying the shuffled DataFrame
df.count(axis=0)

productName    40
week           40
amount_sold    40
price          40
dtype: int64

6) a) Calculate the total number of units sold for each product across all weeks.
   b) Calculate the average price for each product.
   c) Calculate the total revenue for each week.

In [55]:
# Grouping by productName to calculate total units sold per product
df_total_units_sold = df.groupby('productName')['amount_sold'].sum()
print(df_total_units_sold)
# Grouping by productName to calculate average price
df_avg_price = df.groupby('productName')['price'].mean()
print(df_avg_price)
# Creating a new column for revenue
df['revenue'] = df['amount_sold'] * df['price']

# Grouping by week to calculate total revenue per week
df_weekly_revenue = df.groupby('week')['revenue'].sum()
print(df_weekly_revenue)

productName
External Hard Drive    395
Gaming Chair            95
Graphics Card          205
Headset                300
Keyboard               190
Laptop                 515
Monitor                355
Mouse                  245
Router                 190
Webcam                 130
Name: amount_sold, dtype: int64
productName
External Hard Drive     79.99
Gaming Chair           150.99
Graphics Card          599.99
Headset                 49.99
Keyboard                49.99
Laptop                 999.99
Monitor                199.99
Mouse                   25.99
Router                 129.99
Webcam                  89.99
Name: price, dtype: float64
week
1    177859.45
2    204023.55
3    208038.25
4    232267.55
Name: revenue, dtype: float64

7) Find the product that sold the most units in each week.
--> stopped here

In [56]:
# Grouping by week to find the product with the maximum amount sold
df_max_sold_per_week = df.loc[df.groupby('week')['amount_sold'].idxmax()]
print(df_max_sold_per_week[['week', 'productName', 'amount_sold']])

    week productName  amount_sold
6      1      Laptop          120
31     2      Laptop          130
4      3      Laptop          125
26     4      Laptop          140

8) Calculate the average number of units sold per product.

In [57]:
# Grouping by productName to calculate average amount sold per product p
df_avg_sold_per_product = df.groupby(['productName'])['amount_sold'].mean()
print(df_avg_sold_per_product)

productName
External Hard Drive     98.75
Gaming Chair            23.75
Graphics Card           51.25
Headset                 75.00
Keyboard                47.50
Laptop                 128.75
Monitor                 88.75
Mouse                   61.25
Router                  47.50
Webcam                  32.50
Name: amount_sold, dtype: float64

9) For each product provide a list of the minimum amount sold, the average and the maximum amount sold

In [58]:
df[['productName','amount_sold']].groupby('productName').aggregate(['min', np.mean, 'max'])

/var/folders/2y/4q624pwd7wn36n4jgtmmz8l80000gn/T/ipykernel_50493/3597232771.py:1: FutureWarning: The provided callable <function mean at 0x118fd72e0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df[['productName','amount_sold']].groupby('productName').aggregate(['min', np.mean, 'max'])

                    amount_sold
                            min    mean  max
productName
External Hard Drive          90   98.75  110
Gaming Chair                 15   23.75   35
Graphics Card                30   51.25   65
Headset                      60   75.00   85
Keyboard                     40   47.50   55
Laptop                      120  128.75  140
Monitor                      80   88.75  100
Mouse                        50   61.25   70
Router                       40   47.50   55
Webcam                       25   32.50   40

10) Provide a table with the productnames and the minimum price for that product the total amount sold and the total revenue for that product

In [63]:
df.groupby('productName').aggregate({'price':'min',
                                     'amount_sold':'sum',
                                     'revenue':'sum'}
                                     )

                      price  amount_sold    revenue
productName
External Hard Drive   79.99          395   31596.05
Gaming Chair         150.99           95   14344.05
Graphics Card        599.99          205  122997.95
Headset               49.99          300   14997.00
Keyboard              49.99          190    9498.10
Laptop               999.99          515  514994.85
Monitor              199.99          355   70996.45
Mouse                 25.99          245    6367.55
Router               129.99          190   24698.10
Webcam                89.99          130   11698.70

11) Only show the productnames which have  sold less than 150 in total over all the dataset and show also the amount_sold in total

In [90]:

  def filter_func(x):
    return x['amount_sold'].sum() < 150

display(df.groupby('productName').filter(filter_func).groupby('productName').aggregate({'amount_sold':'sum'}))

              amount_sold
productName
Gaming Chair           95
Webcam                130

12) For each product calculate the total revenue, based on the price of the product and the total_amount sold.

In [8]:

def f_revenue(x):
    # x is a DataFrame of group values
    x['revenue'] = sum(x['price']*x['amount_sold'])
    return x

display(df.groupby('productName').apply(f_revenue).drop(columns=['week','amount_sold','price','productName']))
# df

/tmp/ipykernel_48323/2704165168.py:6: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  display(df.groupby('productName').apply(f_revenue).drop(columns=['week','amount_sold','price','productName']))

                          revenue
productName
External Hard Drive 9    31596.05
                    24   31596.05
                    25   31596.05
                    35   31596.05
Gaming Chair        15   14344.05
                    28   14344.05
                    31   14344.05
                    36   14344.05
Graphics Card       2   122997.95
                    13  122997.95
                    18  122997.95
                    37  122997.95
Headset             4    14997.00
                    23   14997.00
                    27   14997.00
                    30   14997.00
Keyboard            6     9498.10
                    7     9498.10
                    20    9498.10
                    32    9498.10
Laptop              0   514994.85
                    10  514994.85
                    29  514994.85
                    34  514994.85
Monitor             5    70996.45
                    12   70996.45
                    16   70996.45
                    17   70996.45
Mouse               19    6367.55
                    21    6367.55
                    22    6367.55
                    33    6367.55
Router              1    24698.10
                    8    24698.10
                    14   24698.10
                    26   24698.10
Webcam              3    11698.70
                    11   11698.70
                    38   11698.70
                    39   11698.70