## Strings methods and strings methods with regular expressions

### Strings methods

Besides the book also look at
https://www.w3schools.com/python/python_strings_exercises.asp
and for regular expressions
https://www.w3schools.com/python/python_regex.asp

First let's create a dataframe.

In [2]:
import pandas as pd
import re


df=pd.Series(['Leonardo DiCaprio',
'Meryl Streep',
'Denzel Washington',
'Scarlett Johansson',
'  Kevin De Bruyne',
'Natalie Portman',
'Leonel Messi',
' Tom Hanks ',
'Angelina Jolie',
'Christian Bale',
' Kevin Bacon '              ],name="famous")

1) In the list we have some blanks in the beginning and the end. Remove them. Call the Series df.

In [3]:
df = df.str.strip() # to remove blank spaces

2) Make a series with the len of all the actor names in it.

In [18]:
# ser_length_names = pd.Series(df.str.split(' ')).iloc[:][0]
# ser_length_names
ser_length_names = pd.Series(df.str.len())
ser_length_names

0     17
1     12
2     17
3     18
4     15
5     15
6     12
7      9
8     14
9     14
10    11
Name: famous, dtype: int64

3) Make a list which will transform all the actors name in lower case

In [20]:
lower_case_names = df.str.lower()
lower_case_names

0      leonardo dicaprio
1           meryl streep
2      denzel washington
3     scarlett johansson
4        kevin de bruyne
5        natalie portman
6           leonel messi
7              tom hanks
8         angelina jolie
9         christian bale
10           kevin bacon
Name: famous, dtype: object

4) a) Make a list which will transform all the actors names in upper case

b) Create a dataframe withone column the names in uppercase and a second column with the length of the names and change also the column names

In [24]:
# uppercase_names = df.str.upper()
# print(uppercase_names)

df_uppercase_lengthNames = pd.DataFrame({'uppercaseName':df.str.upper(), 'lengthName':df.str.len()})
df_uppercase_lengthNames

         uppercaseName  lengthName
0    LEONARDO DICAPRIO          17
1         MERYL STREEP          12
2    DENZEL WASHINGTON          17
3   SCARLETT JOHANSSON          18
4      KEVIN DE BRUYNE          15
5      NATALIE PORTMAN          15
6         LEONEL MESSI          12
7            TOM HANKS           9
8       ANGELINA JOLIE          14
9       CHRISTIAN BALE          14
10         KEVIN BACON          11

5) a)Make a list with only the first 5 characters of each string in the Series.

   b)Make a list which will show the string except the last 6 characters of each string of df

   c)Make a list with only the last 7 characters in each string

In [38]:
# df_half = [name[:5] for name in df]
# df_half
df_first5 = df.str[:5]
df_first5

0     Leona
1     Meryl
2     Denze
3     Scarl
4     Kevin
5     Natal
6     Leone
7     Tom H
8     Angel
9     Chris
10    Kevin
Name: famous, dtype: object

In [39]:
# b)Make a list which will show the string except the last 6 characters of each string of df
df_not_last6 = df.str[0:-6]
df_not_last6

0      Leonardo Di
1           Meryl
2      Denzel Wash
3     Scarlett Joh
4        Kevin De
5        Natalie P
6           Leonel
7              Tom
8         Angelina
9         Christia
10           Kevin
Name: famous, dtype: object

In [40]:
# c)Make a list with only the last 7 characters in each string
df.str[-7:]

0     iCaprio
1      Streep
2     hington
3     hansson
4      Bruyne
5     Portman
6     l Messi
7     m Hanks
8     a Jolie
9     an Bale
10    n Bacon
Name: famous, dtype: object

6) a) Take the string "This string needs to be cut in pieces" make a list of all the words in this string ["This" ,"string", "needs","to", "be" ,"cut" ,"in" ,"pieces"].
   b)Create from this list a pandas Series

   c) Take the complete string again and look for the place where we first see the letter 'n'

   d) The letter n is the 10th character in the string, is this also the 10 index in the string? Why not?

   e) Take the complete string again and print the place of the last appearance of 'n'

   f) Split the string in three parts with 'cut' in the middle and print  the 3 parts.

In [42]:
# a) Take the string "This string needs to be cut in pieces" make a list of all the words in this string ["This" ,"string", "needs","to", "be" ,"cut" ,"in" ,"pieces"].
string = "This string needs to be cut in pieces"
words = string.split()
words

['This', 'string', 'needs', 'to', 'be', 'cut', 'in', 'pieces']

In [45]:
 # b)Create from this list a pandas Series
words_series = pd.Series(words)
words_series

0      This
1    string
2     needs
3        to
4        be
5       cut
6        in
7    pieces
dtype: object

In [49]:
# c) Take the complete string again and look for the place where we first see the letter 'n'
string.find('n')

9

In [ ]:
   # d) The letter n is the 10th character in the string, is this also the 10 index in the string? Why not? cause indexes -1 start at 0 in python, 0 based language

In [50]:
# e) Take the complete string again and print the place of the last appearance of 'n'
string.rfind('n')

29

In [54]:
# f) Split the string in three parts with 'cut' in the middle and print the 3 parts.
string.partition('cut')

('This string needs to be ', 'cut', ' in pieces')

7  a) Print the first names of every person in a Pandas Series
   
   b) Print the second name in a Pandas Series

In [ ]:
#  ==> continue here

6) a) Replace all the white spaces with $ in the list of famous people.
   
   b) Continue with this Serie object and provide a list of the index in each name where we encounter the $ sign

We need another Series for the next exercise:

In [3]:
rubbish=pd.Series(['just a phrase',
"123",
'45,56',
'HI',
"\u0030",
'Natalie Portman',
"\u00B2",
'22.23',
'Angelina Jolie',
'Christian Bale',
' Kevin Bacon '              ],name="rubbish")

7) a) Create a new series which will indicate if the string in rubbish has only numeric characters

   b) Create a new series which will indicate if the string is a decimal

   c) Create a new Series which will indicate is all the characters in the string are numbers or letters

   d) Create a new Series which will indicate if all characters in the string ae letters.

## Regular expressions

We start with a string:

In [157]:
Tesla_story="The Tesla company was incorporated as Tesla Motors, Inc. on 1-7-2003, by Martin Eberhard and Marc Tarpenning. Eberhard and Tarpenning served as CEO and CFO, respectively. Eberhard said he wanted to build a car manufacturer that is also a technology company, with its core technologies as the battery, the computer software, and the proprietary motor. Ian Wright was thr third employee, joining a few months later.In February 2004, the company raised $7.5 million in series A funding, including $6.5 million from Elon Musk, who had received $100 million from the sale of his interest in PayPal two years earlier. Musk became the chairman of the board of directors and the largest shareholder of Tesla. J. B. Straubel joined Tesla in May 2004 as chief technical officer. A lawsuit settlement agreed to by Eberhard and Tesla in September 2009 allows all five – Eberhard, Tarpenning, Wright, Musk, and Straubel – to call themselves co-founders.On 29-06-2010, the company became a public company via an initial public offering (IPO) on NASDAQ, the first American car company to do so since the Ford Motor Company had its IPO in 1956. The company issued 13.3 million shares of common stock at a price of $17.00 per share, raising $226 million."

1) Look for the name Eberhard in the Tesla_story using the re method search. How do we know the first starting position of the string 'Eberhard'? What is the last character? Was Donald Trump involved in the build uo of Tesla (look if you find Donald Trump)

2) a) But we see that the name Eberhard appears several times in the string, how can we find all the appearances?

   b) How many occurances do we see?

   c) Remember with the usual find method we could find the first or the last but not all the occurances. How do you find all the places where we have 'Eberhard'?

   d) What if we only want to show the start positions?

##### More complex patterns
Recap:
##### Identifiers for Characters in Patterns
<table ><tr><th>Character</th><th>Description</th><th>Example Pattern Code</th><th >Example Match</th></tr>

<tr ><td><span >\d</span></td><td>A digit</td><td>file_\d\d</td><td>file_25</td></tr>

<tr ><td><span >\w</span></td><td>Alphanumeric</td><td>\w-\w\w\w</td><td>A-b_1</td></tr>



<tr ><td><span >\s</span></td><td>White space</td><td>x\sy\sz</td><td>x y z</td></tr>



<tr ><td><span >\D</span></td><td>A non digit</td><td>\D\D\D</td><td>AB?</td></tr>

<tr ><td><span >\W</span></td><td>Non-alphanumeric</td><td>\W\W\W\W\W</td><td>*-+=)</td></tr>

<tr ><td><span >\S</span></td><td>Non-whitespace</td><td>\S\S\S\S</td><td>Ext?</td></tr></table>

##### Quantifiers in Patterns

<table ><tr><th>Character</th><th>Description</th><th>Example Pattern Code</th><th >Example Match</th></tr>

<tr ><td><span >+</span></td><td>Occurs one or more times</td><td>	Version \w-\w+</td><td>Version A-b1_1</td></tr>

<tr ><td><span >{5}</span></td><td>Occurs exactly 5 times</td><td>\D{5}</td><td>abcT!</td></tr>



<tr ><td><span >{2,6}</span></td><td>Occurs 2 to 6 times</td><td>\d{2,6}</td><td>123</td></tr>



<tr ><td><span >{2,}</span></td><td>Occurs 2 or more times </td><td>\w{2,}</td><td>anycharacters</td></tr>

<tr ><td><span >*</span></td><td>Occurs zero or more times</td><td>A*B*C*</td><td>AAACC</td></tr>

<tr ><td><span >?</span></td><td>Once or none</td><td>plurals?</td><td>plural</td></tr></table>

3) Search for just a date in the following format: 15-12-1969

##### Groups

4) Extract from the dates only the years and the months and finally print the full dates.


5) Use the pipe operator to have an **or** statement. For example if we want to know where in the string we come across aname of a co-founder. Use the pipe symbol: Musk|Eberhard|Wright|Tarpenning|Straubel

6) a) Look for all appearances of the string "al" at the end of a word
   
b) Find two consecutive digitals in the string 'We have 1 apple and 12 pears'

c) Find the last non-punctuation character of the Tesla_story