# Oplossingen Airports

Import all necessary libraries here:

In [1]:
#SOLUTION_START
import pandas as pd
#SOLUTION_END

Read the following CSV files with the delay data of American airlines into two DataFrames. You can find this data at the following URLs:

- https://raw.githubusercontent.com/nickdcox/learn-airline-delays/main/delays_2018.csv (name this dataframe `delays2018`)
- https://raw.githubusercontent.com/nickdcox/learn-airline-delays/main/delays_2019.csv (name this dataframe `delays2019`)

You will find the following data:

```{text}
            Column Name                                                                                           Description
0                  date                                                   Year and month, in the format YYYY-M (e.g., 2018-1)
1               carrier                                                 The two character designator for the carrier/airline.
2          carrier_name                                                                 The full name of the carrier/airline.
3               airport                                               The three character designator for the arrival airport.
4          airport_name                                                                 The full name of the arrival airport.
5           arr_flights            The total number of arriving flights for the carrier-airport pair for the month specified.
6             arr_del15   The number of arriving flights that were delayed. Delayed is when a flight arrives more than 15 ...
7            carrier_ct                                        The number of arriving flights delayed due to a carrier issue.
8            weather_ct                                        The number of arriving flights delayed due to a weather issue.
9                nas_ct                            The number of arriving flights delayed due to a national air system issue.
10          security_ct                                      The number of arriving flights delayed due to a security issue.
11     late_aircraft_ct                The number of arriving flights delayed due to an earlier late arrival of an aircraft.
12        arr_cancelled                                                                     The number of cancelled flights.
13         arr_diverted                                                                      The number of diverted flights.
14            arr_delay                                                   The total number of delayed minutes due to delays.
15        carrier_delay                                           The total number of delayed minutes due to carrier issues.
16        weather_delay                                           The total number of delayed minutes due to weather issues.
17            nas_delay                               The total number of delayed minutes due to national air system issues.
18       security_delay                                          The total number of delayed minutes due to security issues.
19  late_aircraft_delay                        The total number of delayed minutes due to earlier later arrival of aircraft.
```

In [2]:
#SOLUTION_START
delays2018 = pd.read_csv("delays_2018.csv", sep=",", decimal=".", header=0)
delays2019 = pd.read_csv("delays_2019.csv", sep=",", decimal=".", header=0)
delays2018.info()
#SOLUTION_END

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20231 entries, 0 to 20230
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   date                 20231 non-null  object
 1   carrier              20201 non-null  object
 2   carrier_name         20201 non-null  object
 3   airport              20212 non-null  object
 4   airport_name         20212 non-null  object
 5   arr_flights          20214 non-null  float64
 6   arr_del15            20211 non-null  float64
 7   carrier_ct           20214 non-null  float64
 8   weather_ct           20214 non-null  float64
 9   nas_ct               20214 non-null  float64
 10  security_ct          20214 non-null  float64
 11  late_aircraft_ct     20214 non-null  float64
 12  arr_cancelled        20214 non-null  float64
 13  arr_diverted         20214 non-null  float64
 14  arr_delay            20214 non-null  float64
 15  carrier_delay        20214 non-null  float64
 16  weather_delay        20214 non-null  float64
 17  nas_delay            20214 non-null  float64
 18  security_delay       20214 non-null  float64
 19  late_aircraft_delay  20214 non-null  float64
dtypes: float64(15), object(5)
memory usage: 3.1+ MB

Concatenate the two dataframes into one dataframe named delays and then display the total number of rows. You can concatenate dataframes with the function pd.concat(). Create a new index when concatenating, which can be done with a specific parameter. In total, you should get 41177 rows. Verify that.

In [3]:
#SOLUTION_START
delays = pd.concat([delays2018, delays2019], ignore_index=True)
print(delays.tail())
print(len(delays))
#SOLUTION_END

         date carrier carrier_name airport  \
41172  2019-1      MQ    Envoy Air     RIC
41173  2019-1      MQ    Envoy Air     ROA
41174  2019-1      MQ    Envoy Air     ROC
41175  2019-1      MQ    Envoy Air     RST
41176  2019-1      MQ    Envoy Air     SAT

                                            airport_name  arr_flights  \
41172               Richmond, VA: Richmond International        195.0
41173  Roanoke, VA: Roanoke Blacksburg Regional Woodr...         52.0
41174     Rochester, NY: Greater Rochester International        106.0
41175             Rochester, MN: Rochester International        116.0
41176         San Antonio, TX: San Antonio International         26.0

       arr_del15  carrier_ct  weather_ct  nas_ct  security_ct  \
41172       68.0       12.12        1.87   17.97          0.0
41173       14.0        2.74        0.69    2.46          0.0
41174       26.0        4.67        2.26   11.81          0.0
41175       35.0        6.83        6.92   11.50          0.0
41176        4.0        1.16        0.64    1.92          0.0

       late_aircraft_ct  arr_cancelled  arr_diverted  arr_delay  \
41172             36.04           22.0           0.0     4138.0
41173              8.11            2.0           1.0      726.0
41174              7.26           17.0           0.0     1259.0
41175              9.75           22.0           0.0     2307.0
41176              0.29            5.0           0.0      120.0

       carrier_delay  weather_delay  nas_delay  security_delay  \
41172          603.0          196.0      780.0             0.0
41173          323.0           31.0      112.0             0.0
41174          313.0           99.0      484.0             0.0
41175          474.0          633.0      523.0             0.0
41176           50.0           14.0       41.0             0.0

       late_aircraft_delay
41172               2559.0
41173                260.0
41174                363.0
41175                677.0
41176                 15.0
41177

Remove all rows where one of the following conditions is met:
* the airport has no arriving flights (missing value for arr_flights)
* empty carrier or empty airports
In total, you should now have 41097 rows left. Verify that.

In [4]:
#SOLUTION_START
lijnen = delays.arr_flights.isna() | delays.carrier.isna() | delays.airport.isna()
lijn_nummers = lijnen.index[lijnen]
print(lijn_nummers)
delays.drop(lijn_nummers, inplace=True)
len(delays)
#SOLUTION_END

Index([   27,    51,   119,   828,   829,   830,   831,   832,   833,   834,
         835,   836,   837,  1102,  1103,  1104,  1105,  1106,  1107,  1428,
        1676,  3332,  3359,  3372,  4033,  4034,  4035,  4036,  4037,  4038,
        4039,  5395,  7126,  7127,  7771, 10681, 12341, 13840, 15086, 15101,
       15189, 15734, 15735, 15736, 15737, 15738, 15739, 15740, 15741, 15742,
       15743, 15744, 15745, 15746, 15747, 15748, 15749, 15750, 15751, 15752,
       15753, 16181, 16254, 16263, 16319, 19073, 20411, 20694, 20881, 24524,
       24965, 26086, 27338, 27381, 30019, 35458, 35467, 35491, 37165, 40325],
      dtype='int64')

41097

Print a list of all airports located in "Tennessee". These airports have the letters "TN:" in their "airport_name". There should be 5 of them. Do not use a for loop but use a .str method.

In [5]:
#SOLUTION_START
rijen = delays['airport_name'].str.contains("TN:")
delays['airport'][rijen].unique()
#SOLUTION_END

array(['BNA', 'MEM', 'CHA', 'TYS', 'TRI'], dtype=object)

Import the coordinates file airport_coordinates.csv. This file contains the latitude and longitude of various American airports as well as their airport code.

In [6]:
#SOLUTION_START
airports_coord = pd.read_csv("airport_coordinates.csv", sep=",", decimal=".", header=0)
airports_coord.head()
#SOLUTION_END

  airport        lat        long
0     01A  58.109444 -152.906667
1     03A  65.548056 -161.071667
2     04A  68.083333 -163.166667
3     05A  67.570000 -148.183889
4     06A  57.745278 -152.882778

The following code is already provided. It creates a new dataframe named "airports" with a list of airports and their code ("airport" and "airport_name"). In this new dataframe, duplicates are removed. Then, the two dataframes are merged on the airport key using the "merge" method. The result is a table with "airport", "airport_name", "lat", and "long" as columns.

In [7]:
# keep
airports = delays[['airport', 'airport_name']]
airports = airports.drop_duplicates()
result = airports.merge(airports_coord)

Calculate the average latitude and longitude of all airports whose name starts with the letter 'B'. You can use the "startswith()" method of Series for this.

In [8]:
#SOLUTION_START
meanLat = result[result.airport_name.str.startswith('B')].lat.mean()
print("meanLat=", meanLat)
meanLong = result[result.airport_name.str.startswith('B')].long.mean()
print("leanLong=", meanLong)
#SOLUTION_END

meanLat= 41.75543103413793
leanLong= -100.07142720172413

Calculate the minimum and maximum values for latitude and longitude. Where are the airports located?

In [9]:
#SOLUTION_START
minLat = result.lat.min()
print(minLat)
maxLat = result.lat.max()
print(maxLat)
minLong = result.long.min()
print(minLong)
maxLong = result.long.max()
print(maxLong)
# all airports are located in the USA
#SOLUTION_END

17.70388889
71.28555556
-176.6447222
-64.79888889

Add a new column "zone" that indicates where the airport is located. There are four zones:  
"SW": South-Western (lat < 44.48, long < -120.72)
"SE": South-Eastern (lat < 44.48, long > -120.72)
"NW": North-Western (lat > 44.48, long < -120.72)
"NE": North-Eastern (lat > 44.48, long > -120.72) Use the abbreviations SW, SE, NW, and NE as values for the new column.

In [14]:
#SOLUTION_START
result["zone"] = "NE"
result.loc[(result.lat < 44.48) & (result.long < -120.72), "zone"] = "SW"
result.loc[(result.lat < 44.48) & (result.long > -120.72), "zone"] = "SE"
result.loc[(result.lat > 44.48) & (result.long < -120.72), "zone"] = "NW"
result
#SOLUTION_END

,airport,airport_name,lat,long,zone
0,BIS,"Bismarck/Mandan, ND: Bismarck Municipal",46.778889,-100.752500,NE
1,BNA,"Nashville, TN: Nashville International",36.126667,-86.681944,SE
2,BOI,"Boise, ID: Boise Air Terminal",43.565278,-116.225000,SE
3,BPT,"Beaumont/Port Arthur, TX: Jack Brooks Regional",29.950833,-94.020000,SE
4,BUF,"Buffalo, NY: Buffalo Niagara International",42.941111,-78.736389,SE
...,...,...,...,...,...
355,PAE,"Everett, WA: Snohomish County",47.908333,-122.281389,NW
356,ATY,"Watertown, SD: Watertown Regional",44.908889,-97.154167,NE
357,PIR,"Pierre, SD: Pierre Regional",44.383611,-100.284167,SE
358,BFM,"Mobile, AL: Mobile Downtown",30.626389,-88.068056,SE
359,XWA,"Williston, ND: Williston Basin International",48.260833,-103.751111,NE

Now calculate the average latitude and longitude per zone by using aggregation functions.

In [13]:
#SOLUTION_START
result.groupby("zone").aggregate({"lat": "mean", "long": "mean"})
#SOLUTION_END

            lat        long
zone
NE    46.268081  -97.159407
NW    58.226944 -144.120507
SE    36.603494  -90.931049
SW    35.434575 -130.516993