# Visualization with Seaborn

### Using the following datasets "flights.csv" dataset contains information about the flights of an airport. Airline "airlines.csv" data holds immense importance as it offers insights into the functioning and efficiency of the aviation industry. It provides valuable information about flight routes, schedules, passenger demographics, and preferences, which airlines can leverage to optimize their operations and enhance customer experiences.

### A) Import the relevant libraries and read the dataset files

### B)Using the same dataset from the previous exercise, density Plot of All Delays Using Seaborn

In [137]:
flightsdf.dropna(inplace=True)
airlinedf.dropna(inplace=True)

In [138]:
flightsdf = flightsdf.merge(airlinedf, how='left', left_on='carrier', right_on='Passenger ID')
flights = flightsdf[['arr_delay', 'name']]

A) Plot the histogram of Arrival Delays in the datasets

A) You should show the Density Plot with Varying Bandwidth Adjustments

## Titanic - Dataset ( Seaborn )
## Visual Exploration

In [57]:
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
sns.set_style('whitegrid')

In [58]:
titanic = sns.load_dataset('titanic')
titanic.shape

(891, 15)

A) You should display number of Passengers by thier gender in the dataset

A) How does the distribution of ages vary among different passenger classes on the Titanic, and what insights can we gain about the age demographics of each class based on the boxplot?

In [143]:
titanic.head(3)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True

A)What does the box plot reveal about the distribution of ages for passengers who survived versus those who did not on the Titanic?

A) How does the age distribution differ between male and female passengers on the Titanic, and what insights can be drawn regarding survival rates based on gender through the box plot

Q) What does the bar plot reveal about the survival rates of different passenger classes on the Titanic, and how do these rates vary between male and female passengers

Q) What does the count plot interpret about the distribution of passengers on the Titanic by demographic categories (men, women, and children)

Q) What does the distribution of ages for the survivors of the Titanic reveal about the age demographics of those who survived the disaster?

Q) What does the distribution of ages for passengers who did not survive the Titanic reveal about the age demographics of those who perished in the disaster?

Q) How does the kernel density estimate (KDE) plot of age distribution for male and female passengers on the Titanic illustrate differences in survival based on gender?

In [148]:
Q) What does the violin plot show about the distribution of ticket fares across different passenger classes on the Titanic?

Object `Titanic` not found.

Q) What does the regression plot of fare against age reveal about the relationship between these two variables among Titanic passengers?

Q) What insights can be drawn from the pair plot of the Titanic dataset regarding the relationships between multiple numerical features?

Q) You should create a pair plot for visualizing relationships between numerical variables in the Titanic dataset, with color coding based on the pclass variable (passenger class)

## Customizing Colorbars

Q) You should create an informative scatter plot with a customized colorbar to represent categorical data in the Titanic dataset.
    
    - For example you can show Scatter Plot of Age vs. Fare Colored by Passenger Class.
    
    - OR ( Be creative!  )